<div class="page-wrap d-flex flex-row align-items-center">
	<div class="container">
		<mat-card>
			<mat-card-content>
				<h1 class="display-1 d-flex justify-content-center">404</h1>
				<span class="display-10 d-flex justify-content-center mb-5"> A página que você está procurando não foi encontrada. </span>
				<div class="col-12 mb-4 mt-4">
					<button mat-raised-button color="primary" onclick="history.back()" class="col-12 p-2">Voltar</button>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>
