<div class="container">
	<div class="header-container">
		<button mat-fab color="primary" aria-label="Create new guest" routerLink = "">
			<mat-icon>west</mat-icon>
		</button>
		<div class="titile-test">Order detail</div>
		<div class="hide">hide</div>
	</div>

	<div  class="detail detail-user">
		<h1>user</h1>
	</div>

	<div  class="detail detail-reserve">
		<h1>reserve</h1>
	</div>

	<div  class="detail detail-pay">
		<h1>pay</h1>
	</div>

	<div class="submit">
		<button mat-raised-button color="primary">check-in</button>
		<button mat-raised-button color="primary">check-out</button>
	</div>
</div>
